<html>
<head>
    <title>Forest Glade Fives</title>
    <link rel="stylesheet" href="/css/fives_main.css"/>
    <link rel="stylesheet" href="/css/fives.css"/>
    <link rel="shortcut icon" href="favicon.ico"/>
    <script type="text/javascript" src="/script/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/script/fgfc.js"></script>
    <script type="text/javascript" src="/script/application.js"></script>
    <script type="text/javascript" src="/script/validation.js"></script>
    <link rel="icon" type="image/ico" href="http://www.thefg5s.co.uk/fgfc/images/favicon.ico"/>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36606370-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body>
<div id="body_container">
    <div id="header-X">
        <div id="Xslogan">
            <img src="/images/Header-Alternative.png" alt="banner"/>
            <!--menu-->
            <div id=fgfc_menu>
                <ul>
                    <li style="list-style: none;text-align:right;padding-right:60px;color:white;">
                        <% if session[:user] %>
                            logged in:<%= session[:user_name] %>
                        <% else %>
                            <a href="/login">login</a>
                        <% end %>
                    </li>
                </ul>
            </div>
            <!--menu end-->
        </div>
    </div>
    <div id="content_wrapper">
        <div id="top_frame">
            <div style="width:132px;display: inline-block;height: 140px;">
                <img src="/images/fg5s-small-logo-no-year.png" alt="FG5's" style="vertical-align:top;margin-left:8px;margin-right:5px;"/>
                <span style="color:#006;margin-left: 22px;;position: relative;top:-7px;font-size: 39px;font-weight: bold;">2013</span>
            </div>
            <img src="/images/WebHome3.png" alt="banner"/>
            <img src="/images/WebHome1.png" alt="banner"/>
            <img src="/images/WebHome6.png" alt="banner"/>
            <img src="/images/WebHome4.png" alt="banner"/>
        </div>

        <div>
            <div id="left-nav">
                <table>
                    <% if session[:user] %>
                        <tr>
                            <td colspan="2" style="padding-top:10px;padding-bottom:10px;background-color:#9acd32;text-align:center;border: solid 1px #d3d3d3">
                                <a class="home" href="/admin/summary"><span style="font-size:13px;">Team Summary</span></a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="padding-top:10px;padding-bottom:10px;background-color:#9acd32;border: solid 1px #d3d3d3">
                                <form action="/admin/find" method="post">
                                    RefId <input type="text" name="ref_id" size="7"/>
                                    <input type="submit" class="save" name="find" value="Find"/>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="padding-top:10px;padding-bottom:10px;text-align:center;background-color:#9acd32;border: solid 1px #d3d3d3">
                                <form action="/admin/add_team" method="post">
                                    <input type="submit" class="save" name="add" value="Add Team"/>
                                </form>
                            </td>
                        </tr>
                    <% end %>
                    <tr>
                        <td colspan="2">--------------------------------</td>
                    </tr>
                    <tr>
                        <td colspan="2"><a class="home" href="/">FG5's Home</a></td>
                    </tr>
                    <tr>
                    <tr>
                        <td colspan="2">--------------------------------</td>
                    </tr>
                    <td colspan="2" style="padding-top:10px;padding-bottom:10px;background-color:#dcdcdc;border: solid 1px #d3d3d3">
                        <a id="apply_online" class="home" href="/register"><h4>Apply Online</h4></a>
                        <br/>or download an
                        <br/><br/><a class="home" href="/pdf/fg5s_application_form.pdf" target="_blank">
                        <h4>Application Form</h4></a>
                    </td>
                    </tr>
                    <tr>
                        <td colspan="2">--------------------------------</td>
                    </tr>
                    <tr>
                        <td colspan="2"><a class="home" href="/rules">Rules And Regulations</a></td>
                    </tr>
                    <tr>
                        <td colspan="2"><a class="home" href="/location">FG5's Location</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">--------------------------------</td>
                    </tr>
                    <tr>
                        <td colspan="2"><h4>Saturday <%= $saturday_date %> May</h4></td>
                    </tr>
                    <tr>
                        <td><a class="home" href="/teams/U6"><h3>U6</h3></a></td>
                        <td><a class="home" href="/teams/U8"><h3>U8</h3></a></td>
                    </tr>
                    <tr>
                        <td><a class="home" href="/teams/U10"><h3>U10</h3></a></td>
                        <td><a class="home" href="/teams/U12"><h3>U12</h3></a></td>
                    </tr>
                    <tr>
                        <td><a class="home" href="/teams/U14"><h3>U14</h3></a></td>
                        <td><a class="home" href="/teams/U16"><h3>U16</h3></a></td>
                    </tr>
                    <tr>
                        <td colspan="2">--------------------------------</td>
                    </tr>
                    <tr>
                        <td colspan="2"><h4>Sunday <%= $sunday_date %> May</h4></td>
                    </tr>
                    <tr>
                        <td><a class="home" href="/teams/U7"><h3>U7</h3></a></td>
                        <td><a class="home" href="/teams/U9"><h3>U9</h3></a></td>
                    </tr>
                    <tr>
                        <td><a class="home" href="/teams/U11_Girls"><h3>U11 Girls</h3></a></td>
                        <td><a class="home" href="/teams/U11"><h3>U11</h3></a></td>
                    </tr>
                    <tr>
                        <td><a class="home" href="/teams/U13_Girls"><h3>U13 Girls</h3></a></td>
                        <td><a class="home" href="/teams/U13"><h3>U13</h3></a></td>
                    </tr>
                    <tr>
                        <td><a class="home" href="/teams/U15"><h3>U15</h3></a></td>
                        <td><a class="home" href="/teams/U18"><h3>U18</h3></a></td>
                    </tr>
                    <tr>
                        <td colspan="2">--------------------------------</td>
                    </tr>
                    <tr>
                        <td colspan="2"><a class="home" href="/referees">Referees</a></td>
                    </tr>
                    <tr>
                        <td colspan="2"><a class="home" href="/sponsorship">Sponsorship</a></td>
                    </tr>
                    <tr>
                        <td colspan="2"><a class="home" href="/contacts">FG5's Contacts</a></td>
                    </tr>
                    <tr>
                        <td colspan="2"><a class="home" href="http://www.forestgladefc.co.uk">FGFC.co.uk</a></td>
                    </tr>
                </table>
            </div>

            <div id="content">
                <div class="body">
                    <%= yield %>
                </div>
            </div>
        </div>
        <div id="footer"> &copy;<%= $season %> Forest Glade Football Club</div>
    </div>
</div>
</body>
</html>
