<h1><%= @age_group.description %> Age Group - <%= @age_group.day %></h1>
<% if @age_group.exhibition_team? %>
    <p>The <%= @age_group.description %> Tournament will follow the FA's guidelines for non competitive tournaments for
        this  age.
    </p>
    <p>Therefore the <%= @age_group.description %> tournament will be an exhibition only event.</p>
    <br/>
    <p>All participants will receive a commemorative medal.</p>
<% end %>

<% if @age_group.description == 'U6' %>
    <br/>
    <p>The U6 age group will also play 7-a-side mini soccer instead of 5 a-side.</p>
<% end %>

<div>
    <br/>

    <p>Teams that have completed registration are listed below.</p><br/>
    <% unless @fives_teams.nil? %>
    <% @fives_teams.each do |team| %>
        <div style="padding-left:40px;">
            <p><%= team.team_name%> - <%= team.team_designation %></p>
        </div>
    <% end %>
    <% end %>
</div>